*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offers_container{
    width: 100%;
    height: 555px;
}

.offer_section_wrapper{
    width: 87%;
    height: 555px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer_left_image_wrapper{
    width: 650px;
    height: 555px;
}

.offer_left_image{
    width: 100%;
    height: 100%;
}

.offer_right_wrapper {
    width: 660px;
    height: 351px;
    padding: 54px 60px;
}

.offer_description_sec{
    width: 550px;
    height: 248px;
}

.offer_section_btn{
    padding: 0px 0px;
    color: #12284c;
    letter-spacing: 1.5px;
    font-size: 14px;
    margin-top: 19px;
    border-bottom: 2px solid #12284c;
    font-weight: 600;
    font-family: "Montserrat";
}

.sales_section_wrapper{
    width: 100%;
    height: 674px;
    margin: 6em 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align: center;
}

.sales_section_wrapper div{
    width: 425px;
    height: 565px;
}

.sales-image{
    width: 420px;
    height: 420px;
}

.divider{
    border: 0.018em solid #e1e1e1;
    height: 0.018em;
    width: 100%;
}